<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img class="rounded" src="/img/logo.png" alt="" style="width: 100px;">
            <p class="m-5 fs-3 text-info">¡Bienvenido {{user.name}}!</p>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/inflables" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/inflables.png" alt="" style="width: 100px;">
              Inflables
            </a>
          </li>
          <li>
            <a href="/lonas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/lona.png" alt="" style="width: 100px;">
              Lonas
            </a>
          </li>
          <li>
            <a href="/sillas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/silla.png" alt="" style="width: 100px;">
              Silla
            </a>
          </li>
          <li>
            <a href="/mesas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/mesa.png" alt="" style="width: 100px;">
              Mesa
            </a>
          </li>
          <li>
            <a href="/mantelerias" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/manteleria.png" alt="" style="width: 100px;">
              Manteleria
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <a href="/ventas/nueva" class="btn btn-primary">Realiza nueva venta</a>
        <a href="/ventas/" class="btn btn-info text-white">Lista</a>
        <a href="/logout" class="btn btn-danger">
        {{!-- <img class="rounded" src="/img/cerrar.png" alt="" style="width: 100px;"> --}}
        Cerrar sesión
        </a>
        {{!-- <button type="button" class="btn btn-light text-dark me-2">Cerrar sesion</button> --}}
      </div>
    </div>
  </div>
</header>
<div class="container text-center text-white">

  <div class="d-flex justify-content-center">
    <div style="width: 50%; margin-right: 10px;">
      <h3 class="my-4">Stock de Inflables</h3>
      <canvas id="manteleriaStockChart" width="400" height="200"></canvas>
    </div>

    <div style="width: 50%;">
      <h3 class="my-4">Stock de Lonas</h3>
      <canvas id="lonaStockChart" width="400" height="200"></canvas>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div style="width: 50%; margin-right: 10px;">
      <h3 class="my-4">Stock de Mesas</h3>
      <canvas id="mesaStockChart" width="400" height="200"></canvas>
    </div>

    <div style="width: 50%;">
      <h3 class="my-4">Stock de Silla</h3>
      <canvas id="sillaStockChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/api/stock-data')
      .then(response => response.json())
      .then(data => {
        // Gráfica de manteleria
        const manteleriaCtx = document.getElementById('manteleriaStockChart').getContext('2d');
        const manteleriaLabels = data.manteleriaStock.map(item => item.tipo);
        const manteleriaData = data.manteleriaStock.map(item => item.stock);

        const manteleriaStockChart = new Chart(manteleriaCtx, {
          type: 'line',
          data: {
            labels: manteleriaLabels,
            datasets: [{
              label: 'Stock de manteleria',
              data: manteleriaData,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false,
              tension: 0.1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        // Gráfica de Mesas
        const mesaCtx = document.getElementById('mesaStockChart').getContext('2d');
        const mesaLabels = data.mesaStock.map(item => item.tipo);
        const mesaData = data.mesaStock.map(item => item.stock);

        const mesaStockChart = new Chart(mesaCtx, {
          type: 'line',
          data: {
            labels: mesaLabels,
            datasets: [{
              label: 'Stock de mesas',
              data: mesaData,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false,
              tension: 0.1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        // Gráfica de Sillas
        const sillaCtx = document.getElementById('sillaStockChart').getContext('2d');
        const sillaLabels = data.sillaStock.map(item => item.tipo);
        const sillaData = data.sillaStock.map(item => item.stock);

        const sillaStockChart = new Chart(sillaCtx, {
          type: 'line',
          data: {
            labels: sillaLabels,
            datasets: [{
              label: 'Stock de sillas',
              data: sillaData,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false,
              tension: 0.1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        // Gráfica de Lonas
        const lonaCtx = document.getElementById('lonaStockChart').getContext('2d');
        const lonaLabels = data.lonaStock.map(item => item.tipo);
        const lonaData = data.lonaStock.map(item => item.stock);

        const lonaStockChart = new Chart(lonaCtx, {
          type: 'line',
          data: {
            labels: lonaLabels,
            datasets: [{
              label: 'Stock de Lonas',
              data: lonaData,
              backgroundColor: 'rgba(153, 102, 255, 0.2)',
              borderColor: 'rgba(153, 102, 255, 1)',
              borderWidth: 1,
              fill: false,
              tension: 0.1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
  });
</script>